
.navbar{
    display: flex;
justify-content: space-around;
 }

#java{
    color:white;
    margin-left:50px;
}
#java1{
    color:white;
    margin-left:50px;
}

#web{
    color:white;
    margin-left:50px;
}
#web1{
    color:white;
    margin-left:50px;
}

#c{
    color:white;
    margin-left:50px;
}
#c1{
    color:white;
    margin-left:50px;
}

#python{
    color:white;
    margin-left:50px;
}
#py1{
    color:white;
    margin-left:50px;
}
#frame{
    color:white;
    margin-left:40px;
}
